In [8]:
import pandas as pd
dataset = {'name':[0,1,2,3],'length':[4,8,2,5],'value':[6,12,1,8],'maximum allowed defects':[{'a': 4, 'b': 2, 'c': 3},{'a': 5, 'b': 4, 'c': 4},{'a': 1, 'b': 2, 'c': 1},{'a': 2, 'b': 3, 'c': 2}]}

df = pd.DataFrame(dataset)
display(df)

class Biscuit : 
    def __init__(self, length, value, maximum_allowed_defects) :
        self.length = length
        self.value = value
        self.maximum_allowed_defects = maximum_allowed_defects

    def __str__(self) :
        return f"{self.length} {self.value} {self.maximum_allowed_defects}"

class dought : 
    def __init__(self, biscuits) :
        self.biscuits = biscuits

    def isFree(self, x, length) :
        
    
    def canbeplaced(self, biscuit, x) :
        if biscuit.length <= x :
            return True
        return False
        

defects = pd.read_csv('defects.csv')
defects.sort_values(by=['x'],inplace=True)
defects

   name  length  value   maximum allowed defects
0     0       4      6  {'a': 4, 'b': 2, 'c': 3}
1     1       8     12  {'a': 5, 'b': 4, 'c': 4}
2     2       2      1  {'a': 1, 'b': 2, 'c': 1}
3     3       5      8  {'a': 2, 'b': 3, 'c': 2}

              x class
479    0.700561     a
141    0.848185     a
142    1.769825     a
493    2.207230     b
125    2.313038     a
..          ...   ...
219  496.411441     a
449  496.429679     b
243  497.370667     a
246  498.455612     c
229  499.403445     c

[500 rows x 2 columns]